.main-container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  text-align: center;
}
.canvas {
  border-radius: 8px;
  border: 2px solid black;
}

.buttons {
  display: none;
}
.buttons button {
  width: 100px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  color: blue;
  border-radius: 8px;
  border: 2px solid blue;
}
@media (max-width: 450px) {
  .buttons {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .row1,
  .row2,
  .row3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
