.main-container{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    text-align: center;

}
.canvas{
    border-radius: 8px;
    border: 2px solid black;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.buttons button{
    width: 150px;
    height: 75px;
    cursor: pointer;
}